:root {
  --color-blue: #31a1c5;
  --color-navy: #2c3f56;
  --color-border: #e5e5e5;
  --color-mute: #f8f8f8;
  --color-white: #ffffff;
  --color-pink: #ff1493;
  --font-size: 16px;
  --line-height: 1.6;
  --rhythm: calc(var(--font-size) * var(--line-height));
}

* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: 0 0 0 1px var(--color-navy);
  outline: none;
} /* TODO: Figure out why Firefox still puts dots around focused buttons */

html {
  color: var(--color-navy);
  font-size: var(--font-size);
  line-height: 1.4;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: var(--color-blue);
  color: var(--color-white);
  text-shadow: none;
}

::selection {
  background: var(--color-blue);
  color: var(--color-white);
  text-shadow: none;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

header {
  display: flex;
  justify-content: center;
  padding: calc(var(--rhythm) * 4) 0 var(--rhythm);
}

@media (max-width: 600px) {
  header {
    padding: calc(var(--rhythm) * 2) 0 0;
  }
}

.logo {
  width: 200px;
}

main {
  margin: auto;
  max-width: calc(860px + var(--rhythm) * 2);
  padding: 0 var(--rhythm);
  width: 100%;
}

.search {
  display: flex;
  justify-content: center;
  padding: var(--rhythm) 0;
}

.search input {
  background-color: var(--color-mute);
  border-bottom: 1px solid var(--color-border);
  border-left: 0;
  border-radius: 0 6px 6px 0;
  border-right: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
  color: var(--color-navy);
  padding: calc(var(--rhythm) / 3) calc(var(--rhythm) / 2);
}

.search input:focus {
  background-color: var(--color-white);
  outline: none;
}

.search-icon {
  border: 1px solid var(--color-border);
  border-radius: 6px 0 0 6px;
  padding: calc(var(--rhythm) / 3) calc(var(--rhythm) / 2);
}

.table-container {
  max-width: 100%;
  overflow-y: scroll;
}

table {
  border: 1px solid var(--color-border);
  border-collapse: collapse;
  max-width: 860px;
  min-width: 600px;
  table-layout: fixed;
  width: 100%;
}

thead {
  border-bottom: 2px solid var(--color-border);
}

tr[tabindex="0"] {
  cursor: pointer;
} /* Only apply hover to rows with data */

tbody > tr:nth-child(odd) {
  background-color: var(--color-mute);
}

tbody > tr:focus,
tbody > tr[tabindex="0"]:hover {
  background-color: var(--color-navy);
  color: var(--color-white);
}

tr > *[colSpan="4"] {
  width: 100%;
} /* Allow full width on hint cells. Keep below :first-child width. */

th,
td {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  padding: calc(var(--rhythm) / 3) calc(var(--rhythm) / 2);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 15%;
}

tr > th:first-child,
tr > td:first-child {
  width: 55%;
} /* Increase width for Book Titles */

th + th,
td + td {
  border-left: 1px solid var(--color-border);
}

tr + tr {
  border-top: 1px solid var(--color-border);
}

th {
  cursor: pointer;
}

.table-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: calc(var(--rhythm) / 2) 0 calc(var(--rhythm) * 4);
}

@media (max-width: 600px) {
  .table-actions {
    padding-bottom: calc(var(--rhythm) * 2);
  }
}

button,
.button {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 6px;
  color: var(--color-white);
  cursor: pointer;
  padding: calc(var(--rhythm) / 3) calc(var(--rhythm) / 2);
  text-decoration: none;
}

button:disabled {
  background-color: var(--color-mute);
  border: 1px solid var(--color-border);
  color: var(--color-navy);
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 480px) {
  .progress {
    display: none;
  }
}

.backdrop {
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal {
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  max-width: calc(100vw - var(--rhythm));
  max-height: calc(100vh - var(--rhythm));
  min-width: 300px;
  padding: calc(var(--rhythm) * 2) calc(var(--rhythm) * 2) var(--rhythm);
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

@media (min-width: 600px) {
  .modal {
    min-width: 600px;
  }
}

.modal-image {
  height: auto;
  width: 100px;
}

.modal > * {
  margin: 0;
  margin-bottom: calc(var(--rhythm) / 2);
}

.modal-close {
  color: var(--color-blue);
  cursor: pointer;
  font-size: 2rem;
  line-height: 1rem;
  padding: 0;
  position: absolute;
  right: calc(var(--rhythm) / 2);
  top: calc(var(--rhythm) / 2);
}
